@model QuanLyHieuThuoc.Models.Entity.Thuoc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Thuoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThuocId" />
            <div class="form-group">
                <label asp-for="TenThuoc" class="control-label"></label>
                <input asp-for="TenThuoc" class="form-control" />
                <span asp-validation-for="TenThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuyCachDongGoi" class="control-label"></label>
                <input asp-for="QuyCachDongGoi" class="form-control" />
                <span asp-validation-for="QuyCachDongGoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTon" class="control-label"></label>
                <input asp-for="SoLuongTon" class="form-control" />
                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiThuocId" class="control-label"></label>
                <select asp-for="LoaiThuocId" class="form-control" asp-items="ViewBag.LoaiThuocId"></select>
                <span asp-validation-for="LoaiThuocId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
